<div class="admin-page">
    <p-card header="Categories" subheader="List of categories" styleClass="ui-card-shadow">
        <div class="p-grid">
        <div class="p-col-12"> 
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <p-button
                        styleClass="p-button-success"
                        label="New"
                        icon="pi pi-plus"
                        routerLink="form"
                    ></p-button>
                    </div>
            </p-toolbar>
        </div>
</div>
<div class="p-grid"> 
    <div class="p-col-12"> 
        <p-table [value]="categories" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th> pSortableColumn = "name"> Name <p-sortIcon field = "name"></p-sortIcon></th>
                    <th> Icon</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-category>
                <tr> 
                    <td> {{category.name}}</td>
                    <td> <i style ="font-size: 2rem" class = "pi" [ngClass]="'pi-' + category.icon"></i></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>