<div class="login-page">
    <div class="form">
      <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h2>ĐĂNG NHẬP ADMIN</h2>
        <div>
          <input type="text" name="username" placeholder="Tên đăng nhập *" [(ngModel)]="username" required #usernameField="ngModel" />
          <div *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)">
            <p *ngIf="usernameField.errors?.['required']">Tên đăng nhập là bắt buộc.</p>
          </div>
        </div>
        <div>
          <input type="password" name="password" placeholder="Mật khẩu *" [(ngModel)]="password" required #passwordField="ngModel" />
          <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
            <p *ngIf="passwordField.errors?.['required']">Mật khẩu là bắt buộc.</p>
          </div>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">ĐĂNG NHẬP</button>
      </form>
    </div>
  </div>
  