<p-toast></p-toast>
<div class="admin-page">
    <p-card 
        [header]="editmode ? 'Edit Category: 'Add Category' " 
        subheader="Bạn có thể thêm hoặc chỉnh sửa tại đây">
        <div class="p-grid p-mb-5">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            styleClass="p-button-primary p-mr-2"
                            [label]="editmode ? 'Update' : 'Create'"
                            icon="pi pi-plus"
                            (click)="onsubmit()"
                        </p-button>
                        <p-button
                            styleClass="p-button-secondary"
                            label="Cancle"
                            icon="pi pi-arrow-circle-left"
                            routerLink="form">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12"> 
                <form [formGroup]="form">
                    <div class = "p-fluid p-formgrid p-grid">
                        <div class = "p-field p-col">
                            <label for="name"> Tên </label>
                            <input formControlName="name" id ="name" type="text" pInputText/>
                            <small *ngIf="categoryForm.name.invalid && isSubmitted" class="p-error">Cột tên là bắt buộc</small>
                        </div>
                        <div class = "p-field p-col">
                            <label for="icon"> Icon </label>
                            <input formControlName="icon" id ="icon" type="text" pInputText/>
                            <small *ngIf="categoryForm.icon.invalid && isSubmitted" class="p-error">Cột icon là bắt buộc</small>
                        </div>
                        <div class="p-field p-col"> 
                            <label for="color">Color</label> <br />
                            <p-colorPicker formControlName = "color"></p-colorPicker>
                        </div>
                </form>
                <p-table [value]="categories" styleclass="p-datable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Icon</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.image }}</td>
                            <td>{{ category.icon }}</td>
                            <td>
                                <p-button
                                (click)="deleteCategory(category.id)"
                                styleClass="p-button-danger p-mr-2"
                                icon="pi pi-trash"
                                ></p-button>
                                <p-button
                                (click)="updateCategory(category.id)"
                                styleClass="p-button-success"
                                icon="pi pi-pencil"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog
    [style]="{width:'50VW'}"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>