<p-toast></p-toast>
<div class="admin-page">
    <p-card 
        [header]="editmode ? 'Sửa danh mục': 'Thêm danh mục' " 
        subheader="Bạn có thể thêm hoặc chỉnh sửa tại đây">
        <div class="p-grid p-mb-5">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            type="button"
                            styleClass="p-button-primary p-mr-2"
                            [label]="editmode ? 'Cập nhật' : 'Thêm mới'"
                            icon="pi pi-plus"
                            (click)="onSubmit()">
                        </p-button>
                        <p-button
                            type="button"
                            styleClass="p-button-secondary"
                            label="Hủy"
                            icon="pi pi-arrow-circle-left"
                            (click)="onCancel()"
                            
                            routerLink="form">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12"> 
                <form [formGroup]="form">
                    <div class = "p-fluid p-formgrid p-grid">
                        <div class = "p-field p-col">
                            <label for="name"> Tên </label>
                            <input formControlName="name" id ="name" type="text" pInputText/>
                            <small *ngIf="categoryForm['name'].invalid && isSubmitted" class="p-error">Vui lòng nhập tên</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>