
<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Danh mục" subheader="Danh mục sản phẩm" styleClass="ui-card-shadow">
        <div class="p-grid">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <!-- <p-button
                            styleClass="p-button-primary p-mr-2"
                            label="Create"
                            icon="pi pi-plus">
                        </p-button> -->
                        <p-button
                            styleClass="p-button-secondary"
                            label="Hủy"
                            icon="pi pi-arrow-circle-left"
                            routerLink="form">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12"> 
                <p-table [value]="categories" styleclass="p-datable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id"> Id <p-sortIcon field="id"> </p-sortIcon></th>
                            <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                                <p-button
                                (onclick)="deleteCategory(category.id)"  label="Xóa" styleClass="p-button-danger p-mr-2" icon="pi pi-trash"
                                styleClass="p-button-success" icon="pi pi-pencil"
                                ></p-button>
                                <p-button
                                (click)="updateCategory(category.id)" label="Sửa"
                                styleClass="p-button-success"
                                icon="pi pi-pencil"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog
    [style]="{width:'50VW'}"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>