<div class="admin-wrapper">
    <div class="logo">
        <a routerLink=""><img src="assets/images/Logo.png" alt="logo"></a>

    </div>
<div class="links">
    <ul> 
        <li> 
            <a routerLink="/dashboard"><i class="pi pi-home"> </i>LyraDashborad</a>
            
        </li>

        <li> 
            <a routerLink="/prodcuts"><i class="pi pi-briefcase"> </i>Prodcuts</a>
        </li>

        <li> 
            <a routerLink="/categories"><i class="pi pi-list"> </i>Categories</a>
        </li>

        <li> 
            <a routerLink="/orders"><i class="pi pi-shopping-cart"> </i>Orders</a>
        </li>

        <li> 
            <a routerLink="/users"><i class="pi pi-users"> </i>Users</a>
        </li>

        <li> 
            <a><i class="pi pi-sign-out" (click)="logoutUser()"> </i>Log-out</a>
        </li>
    </ul>
</div>