<div class="admin-wrapper">
    <div class="logo">
        <a routerLink=""><img src="assets/images/Logo.png" alt="logo"></a>

    </div>
<div class="links">
    <ul> 
        <li> 
            <a routerLink="/dashboard"><i class="pi pi-home"> </i>Dashboard</a>
            
        </li>

        <li> 
            <a routerLink="/prodcuts"><i class="pi pi-briefcase"> </i>Quản lý sản phẩm</a>
        </li>

        <li> 
            <a routerLink="/categories"><i class="pi pi-list"> </i>Quản lý danh mục</a>
        </li>

        <li> 
            <a routerLink="/orders"><i class="pi pi-shopping-cart"> </i>Quản lý đơn hàng</a>
        </li>

        <li> 
            <a routerLink="/users"><i class="pi pi-users"> </i>Quản lý tài khoản</a>
        </li>

        <li> 
            <a><i class="pi pi-sign-out"> </i>Đăng xuất</a>
        </li>
    </ul>
</div>